
<div>
    <p></p>
    <h3>Изменить личные данные</h3>
    <form novalidate ng-submit="updateUserInfo(updated_user.id)">
        <input class="form-control" type="text" placeholder="Имя" ng-model="updated_user.firstName">
        <p></p>
        <input class="form-control" type="text" placeholder="Отчество" ng-model="updated_user.secondName">
        <p></p>
        <input class="form-control" type="text" placeholder="Фамилия" ng-model="updated_user.lastName">
        <p></p>
        <input class="form-control" type="email" placeholder="Email" ng-model="updated_user.email">
        <p></p>

        <button type="submit" class="btn btn-success">Сохранить изменения</button>
    </form>
</div>