<div>
    <p></p>
    <h2>Информация об инструменте</h2>
    <br/>
    <button class="btn btn-primary" ng-click="navToToolsList()">НАЗАД К ВЫБОРУ</button>
    <button class="btn btn-primary" ng-show="isUserLoggedIn() && isUserNameEqualsTo(tool.ownerUsername)" ng-click="navToToolHistory(tool.id)">История аренд инструмента</button>
    <br/>
    <p></p>
    <p>{{'Категория: ' + tool.categoryName}}</p>
    <p>{{'Название инструмента: ' + tool.title}}</p>
    <p>{{'Марка : ' + tool.brandName}}</p>
    <p>{{'Фотографии: пока не отображаются, т.к. недоработан функционал' + tool.picturesUrls}}</p> <!--    вот здесь видимо, какой-то сделать ng-repeat и показать несколько фото-->
    <p></p>
    <h3>Владелец инструмента:</h3>
    <p>{{'Имя пользователя на сайте: ' + tool.ownerUsername}}</p>
    <p>{{'ФИО: ' + tool.ownerFirstName + ' ' + tool.ownerSecondName + ' ' + tool.ownerLastName}}</p>
    <p>{{'Email Владельца: ' + tool.ownerEmail}}</p>
    <p></p>
    <p>{{'Цена аренды в сутки: ' + tool.fee}}</p>
    <p>{{'Сумма залога: ' + tool.price}}</p>
    <p></p>
    <h3>КАЛЕНДАРЬ ДОСТУПНОСТИ ИНСТРУМЕНТА</h3>
    <p>ЗДЕСЬ ПОДГРУЖАЕТСЯ КАЛЕНДАРЬ, ПОКА Я СДЕЛАЛА ТАБЛИЧКУ</p>
    <p></p>
    <table id="tools-list" class="table">
        <thead>
        <tr>
            <td>Дата начала аренды</td>
            <td>Дата окончания аренды</td>
        </tr>
        </thead>
        <tbody>
                        <tr ng-repeat="i in tool.intervals">
                            <td>{{i.dateStart}}</td>
                            <td>{{i.dateFinish}}</td>
                        </tr>
        </tbody>
    </table>
    <p></p>
    <h3>РУКОВОДСТВО ПО ЭКСПЛУАТАЦИИ, КОММЕНТАРИИ ВЛАДЕЛЬЦА</h3>
    <p>{{tool.description}}</p>
    <p>Здесь еще, может, сделаем подгрузку фото с инструкцией (на будущее, пока нигде нет функционала)</p>

    <br/>
    <button class="btn btn-info" ng-click="showToolComments()">Показать отзывы об инструменте</button>
    <br/>
    <br/>
    <span style="color: mediumblue" ng-show="ascToolGrade">{{'Рейтинг инструмента:  '+ tool_grade + '  баллов по 5-бальной шкале'}}</span>
    <br/>
    <div ng-repeat="tc in tool_comments">
        <textarea cols="170" rows="3">{{tc.description}}</textarea>
    </div>

    <br/>
    <button class="btn btn-warning" ng-click="showOwnerComments()">Показать отзывы о владельце инструмента</button>
    <br/>
    <br/>
    <span style="color: mediumblue" ng-show="ascOwnerGrade">{{'Рейтинг владельца инструмента:  '+ owner_grade + '  баллов по 5-бальной шкале'}}</span>
    <br/>
    <div ng-repeat="oc in owner_comments">
        <textarea cols="170" rows="3">{{oc.description}}</textarea>
    </div>

</div>