<div>
    <p></p>
    <h3>СПИСОК ИНСТРУМЕНТОВ, КОТОРЫЕ МОЖНО АРЕНДОВАТЬ</h3>
    <p></p>
    <div class="container">
        <form novalidate class="input-group col" ng-submit="loadTools()">
            <div class="col-md-3" style="margin-left:10px">
                <div class="input-group">
                    <input class="form-control border" type="search" value="" id="filterTitle" placeholder="названиe инструмента" ng-model="filter.title">
                </div>
            </div>
            <div class="col-md-3" style="margin-left:10px">
                <div class="input-group">
                    <input class="form-control border" type="search" value="" id="filterOwner" placeholder="именя владельца" ng-model="filter.owner.userName">
                </div>
            </div>
            <div class="col-md-3" style="margin-left:10px">
                <div class="input-group">
                    <input class="form-control border" type="search" value="" id="filterMaxFee" placeholder="максимальная цена" ng-model="filter.max_fee">
                </div>
            </div>
            <span class="col-md-3 input-group-btn" style="width:0; margin-left:10px;">
                <button class="btn btn-outline-warning btn-default" type="submit">Применить</button>
            </span>
        </form>
    </div>
    <div class="mt-4"></div>
    <div class="container">
        <div>
            <table id="tools-list" class="table">
                <thead>
                <tr>
                    <td>Название инструмента</td>
                    <td>Категория</td>
                    <td>Марка</td>
                    <td>Производитель</td>
                    <td>Фото</td>
                    <td>Владелец</td>
                    <td>Цена аренды в сутки</td>
                    <td>Сумма залога</td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
<!--//Код для работы с бэком-->
<!--                <tr ng-repeat="t in toolsPage.content">-->
<!--                    <td>{{t.categoryName}}</td>-->
<!--                    <td>{{t.title}}</td>-->
<!--                    <td>{{t.brand}}</td>-->
<!--                    <td>{{t.producerName}}</td>-->
<!--                    <td>{{t.avatarPictureUrl}}</td> -->
<!--                    <td>{{t.owner.userName}}</td>-->
<!--                    <td>{{t.fee}}</td>-->
<!--                    <td>{{t.price}}</td>-->
<!--                    <td>-->
<!--                        <button class="btn btn-primary" ng-click="navToToolInfoPage(t.id)">Информация+Календарь</button>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <button class="btn btn-primary" ng-click="tryToRent(t.id)">Арендовать</button>-->
<!--                    </td>-->
<!--                </tr>-->

<!--//код для наглядности, пока бэк не подключился-->
                <tr>
                    <td>{{'Дрели'}}</td>
                    <td>{{'Дрель'}}</td>
                    <td>{{'Makita'}}</td>
                    <td>{{'Производитель Makita'}}</td>
                    <td>{{'ФОТКА'}}</td>
                    <td>{{'Владелец'}}</td>
                    <td>{{'300'}}</td>
                    <td>{{'3000'}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="navToToolInfoPage(1)">Инфо+Календарь</button>
                    </td>
<!--                    С Денисом оговорили - оставляю напоминалку в коде - ПОДУМАТЬ НАД ФОРМИРОВАНИЕ ЗАКАЗА И КОРЗИНЫ
ПОКА кнопка "В КОРЗИНУ" ведет на страницу оформления инструмента, где выбирается дата и можно уже арендовать.
НО когда проработаем схему работы с корзиной, будет, наверное, просто добавление этого инструмента в корзину,
из которой потом можно будет переходить от нужного инструмента на страницу оформления аренды. Может, будет иметь смысл
добавить еще одну кнопку типа "Арендовать сразу", если человеку нужен только один инструмент и он не хочет ничего
сравнивать, а сразу понял, что это то, что ему надо-->
                    <td>
                        <button class="btn btn-primary" ng-click="tryToRent(1)">В КОРЗИНУ</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <p></p>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" ng-repeat="pageIndex in paginationArray">
                        <button class="page-link" ng-click="loadTools(pageIndex)">{{pageIndex}}</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>