<div>
    <p></p>
    <h3>СПИСОК ИНСТРУМЕНТОВ, КОТОРЫЕ МОЖНО АРЕНДОВАТЬ</h3>
    <p></p>
    <div class="container">
        <form novalidate class="input-group col" ng-submit="loadTools()">
            <div class="row">
                <div class="col-3 col-md-3" style="margin-top:10px;">
                    <div class="input-group">
                        <input class="form-control border" type="search" value="" id="filterCategoryName"
                               placeholder="категория" ng-model="filter.categoryName">
                    </div>
                </div>
                <div class="col-3 col-md-3" style="margin-top:10px;">
                    <div class="input-group">
                        <input class="form-control border" type="search" value="" id="filterTitle"
                               placeholder="названиe инструмента" ng-model="filter.title">
                    </div>
                </div>
                <div class="col-3 col-md-3" style="margin-top:10px;">
                    <div class="input-group">
                        <input class="form-control border" type="search" value="" id="filterOwnerUsername"
                               placeholder="имя владельца" ng-model="filter.ownerUsername">
                    </div>
                </div>
                <div class="col-3 col-md-3" style="margin-top:10px;">
                    <div class="input-group">
                        <input class="form-control border" type="search" value="" id="filterMaxFee"
                               placeholder="максимальная цена" ng-model="filter.maxFee">
                    </div>
                </div>
                <div class="col-3 col-md-3" style="margin-top:10px;">
                    <div class="input-group">
                        <input class="form-control border datepickerStart" type="search" value="" id="filterStartDate"
                               placeholder="дата начала аренды" ng-model="filter.startDate">
                    </div>
                </div>
                <div class="col-3 col-md-3" style="margin-top:10px;">
                    <div class="input-group">
                        <input class="form-control border datepickerEnd" type="search" value="" id="filterEndDate"
                               placeholder="дата окончания аренды" ng-model="filter.endDate">
                    </div>
                </div>
                <div class="col-3 col-md-3" style="margin-top:10px;">
                    <span class="input-group-btn" style="width:0; margin-top:10px;">
                        <button class="btn btn-outline-warning btn-default"
                                type="submit">Применить&nbsp;фильтрацию</button>
                        <!--                        <span class="material-icons" type="submit">filter_alt</span>-->
                        <!--                        <span class="material-icons" type="submit">filter_list</span>-->
                    </span>
                </div>
            </div>
        </form>
    </div>

    <br/>
    <label for="sizeSelectTest">Кол-во элементов на странице</label>
    <select id="sizeSelectTest" class="form-select" ng-model="size_data.model" ng-change="loadTools()">
        <option ng-repeat='option in size_data.availablePageSizeOptions' value='{{option.pageSize}}'>
            {{option.pageSize}}
        </option>
    </select>

    <br/>
    <br/>
    <label for="sortSelectTest">Сортировка</label>
    <select id="sortSelectTest" class="form-select" ng-model="sort_data.model"
            ng-change="loadTools()">
        <option ng-repeat='option in sort_data.availableSortOptions' value='{{option.sort}}'>
            {{option.title}}
        </option>
    </select>

    <br/>
    <div class="mt-4"></div>
    <div class="container">
        <div>
            <table id="tools-list" class="table">
                <thead>
                <tr>
                    <td>Категория</td>
                    <td>Название инструмента</td>
                    <td>Брэнд</td>
                    <td>Фото</td>
                    <td>Владелец</td>
                    <td>Цена аренды в сутки</td>
                    <td>Сумма залога</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="t in toolsPage.instruments">
                    <td>{{t.categoryName}}</td>
                    <td>{{t.title}}</td>
                    <td>{{t.brandName}}</td>
                    <td>{{t.avatarPictureUrl}}</td>
                    <td>{{t.ownerUsername}}</td>
                    <td>{{t.fee}}</td>
                    <td>{{t.price}}</td>
                    <td>
                        <button class="btn">
                            <i class="material-icons" ng-click="navToToolInfoPage(t.id)"
                               title="Информация о инструменте">info</i>
                        </button>
                    </td>
                    <td>
                        <button class="btn">
                            <i class="material-icons" ng-click="putIntoCart(t.id)" title="Добавить в корзину">add_shopping_cart</i>
                        </button>
                    </td>
                </tr>

                <!--               С Денисом оговорили - оставляю напоминалку в коде - ПОДУМАТЬ НАД ФОРМИРОВАНИЕ ЗАКАЗА И КОРЗИНЫ-->
                <!--ПОКА кнопка "В КОРЗИНУ" ведет на страницу оформления инструмента, где выбирается дата и можно уже арендовать.-->
                <!--НО когда проработаем схему работы с корзиной, будет, наверное, просто добавление этого инструмента в корзину,-->
                <!--из которой потом можно будет переходить от нужного инструмента на страницу оформления аренды. Может, будет иметь смысл-->
                <!--добавить еще одну кнопку типа "Арендовать сразу", если человеку нужен только один инструмент и он не хочет ничего-->
                <!--сравнивать, а сразу понял, что это то, что ему надо-->

                </tbody>
            </table>

            <p></p>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li ng-show="!toolsPage.firstPage">
                        <button class="page-link" ng-click="loadTools(toolsPage.number - 1)"><<</button>
                    </li>
                    <li ng-show="toolsPage.totalElements > 0"
                        ng-repeat="pageIndex in paginationArray">
                        <button class="page-link" ng-click="loadTools(pageIndex - 1)">{{pageIndex}}</button>
                    </li>
                    <li ng-show="!toolsPage.lastPage">
                        <button class="page-link" ng-click="loadTools(toolsPage.number + 1)">>></button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>