<div class="container">
    <p></p>
    <h1>Пожалуйста, проверьте свой заказ и подтвердите его.</h1>
    <br/>
    <table class="table align-middle table-bordered" ng-show="cart.items.length > 0">
        <thead>
        <tr>
            <th scope="col">Название инструмента</th>
            <th scope="col">Марка инструмента</th>
            <th scope="col">Владелец инструмента</th>
            <th scope="col">Дата начала аренды</th>
            <th scope="col">Дата окончания аренды</th>
            <th scope="col">Стоимость аренды</th>
            <th scope="col">Сумма залога</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in cart.items">
            <td>{{i.instrument.title}}</td>
            <td>{{i.instrument.brandName}}</td>
            <td>{{i.instrument.ownerUsername}}</td>
            <td>{{i.startDate}}</td>
            <td>{{i.endDate}}</td>
            <td>{{i.instrument.fee + '*' + i.rentLength + '=' + i.rentPrice}}</td>
            <td>{{i.instrument.price}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>{{'Итого цена: ' + cart.totalFee}}</b></td>
            <td><b>{{'Итого залог: ' + cart.totalPrice}}</b></td>
        </tr>
        </tbody>
    </table>
    <br/>
    <button class="btn btn-outline-warning" ng-click="navToCart()">Назад в корзину</button>
    <button class="btn btn-outline-success" ng-click="processOrder()">Оформить заказ</button>
    <br/>
</div>