<div class="container">
    <p></p>
    <h1>ЛИЧНЫЙ КАБИНЕТ (СТРАНИЦА С ИНФО О СДАННЫХ В АРЕНДУ / АРЕНДОВАННЫХ ИНСТРУМЕНТАХ)</h1>
    <h3>Личные данные</h3>
    <p>{{'Пользователь: ТУТ ПОДГРУЗИТСЯ username' + userProfile.userName}}</p>
    <p>{{'Имя: ТУТ ПОДГРУЗИТСЯ firstname' + userProfile.firstName}}</p>
    <p>{{'Имя: ТУТ ПОДГРУЗИТСЯ secondname' + userProfile.secondName}}</p>
    <p>{{'Фамилия: ТУТ ПОДГРУЗИТСЯ lastname ' + userProfile.lastName}}</p>
    <p>{{'E-Mail: ТУТ ПОДГРУЗИТСЯ email' + userProfile.email}}</p>

    <br/>
    <!-- У меня здесь возникла проблема с этой таблицей. Нужна помощь. Не отоблажается на фронте нормально
     Делала по аналогии со списком заказов в магазине, но что-то не срабатывает, не могу понять, может,
     свежим взглядом будет понятно-->
    <h4>Список инструментов, взятых в аренду</h4>
     <table class="table align-middle">
        <thread scope="col">
            <tr>
                <th scope="col">Номер заказа</th>
                <th scope="col">Список инструментов</th>
            </tr>
        </thread>
        <tbody>
        <tr ng-repeat="ord in userProfile.orders">
<!--            // код для работы с бэком-->
<!--            <th scope="row">{{ord.id}}</th>-->
            <!--//код для наглядности, пока бэк не подключился-->
            <th scope="row">{{'1'}}</th>
            <td>
                <table class="table align-middle table-bordered">
                    <thread>
                        <tr>
                            <th scope="col">Название инструмента</th>
                            <th scope="col">Марка инструмента</th>
                            <th scope="col">Владелец инструмента</th>
                            <th scope="col">Дата начала аренды</th>
                            <th scope="col">Дата окончания аренды</th>
                            <th scope="col">Сумма залога</th>
                        </tr>
                    </thread>
                    <tbody>
<!--                   // код для работы с бэком-->
<!--                    <tr ng-repeat="i in ord.orderItems">-->
<!--                        <td>{{i.instrument.title}}</td>-->
<!--                        <td>{{i.instrument.brand}}</td>-->
<!--                        <td>{{i.instrument.owner.userName}}</td>-->
<!--                        <td>{{i.dateFinish}}</td>-->
<!--                        <td>{{i.dateStart}}</td>-->
<!--                        <td>{{i.instrument.price}}</td>-->
<!--                    </tr>-->
                    <!--//код для наглядности, пока бэк не подключился-->
                    <tr>
                        <td>{{'Дрель'}}</td>
                        <td>{{'Makita'}}</td>
                        <td>{{'Владелец'}}</td>
                        <td>{{'15.05.2022'}}</td>
                        <td>{{'31.05.2022'}}</td>
                        <td>{{'3000'}}</td>
                    </tr>

                    </tbody>
                </table>
            </td>
         </tr>
        </tbody>
    </table>

<br/>

    <h4>Список инструментов, выставленных на сайте для передачи в аренду</h4>
    <table class="table">
        <thead>
        <tr>
            <td>Название инструмента</td>
            <td>Марка</td>
            <td>Пользователь/арендатор</td>
            <td>Дата начала аренды</td> <!-- Здесь надо будет доработать, когда будет несколько периодов аренды? -->
            <td>Дата окончания аренды</td>
            <td>Сумма залога</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <!--//Код для работы с бэком.
        Сюда прилетает список инструментов, отобранный по userName пльзователя (username можем взять из localStorage)-->
        <!--                <tr ng-repeat="t in tools">-->
        <!--                    <td>{{t.title}}</td>-->
        <!--                    <td>{{t.brand}}</td>-->
        <!--                    <td>{{t.owner.userName}}</td>-->
        <!--                     <td>{{t.orderItems.dateFinish}}</td> -->
        <!--                     <td>{{t.orderItems.dateStart}}</td> -->
        <!--                    <td>{{t.price}}</td>-->
        <!--        <td>-->
        <!--            <button class="btn btn-primary" ng-click="changeTool(t.id)">изменить</button>-->
        <!--        </td>-->
        <!--                </tr>-->

        <!--//код для наглядности, пока бэк не подключился-->
        <tr>
            <td>{{'Дрель'}}</td>
            <td>{{'Makita'}}</td>
            <td>{{'Арендатор'}}</td>
            <td>{{'15.05.2022'}}</td>
            <td>{{'31.05.2022'}}</td>
            <td>{{'3000'}}</td>
            <td>
                <button class="btn btn-primary" ng-click="changeTool(1)">Изменить</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>