<div>
    <p></p>
    <h3>Здесь вы можете оставить отзыв об арендаторе вашего инструмента:</h3>
    <p>{{'Арендатор: ' + renterInfo.userName}}</p>
    <p>{{'ФИО : ' + renterInfo.lastName + ' ' + renterInfo.firstName + ' ' + renterInfo.secondName}}</p>


    <form novalidate ng-submit="sendFeedbackAboutRenter()">
<!--        <input class="form-control" type="number" hidden placeholder="ID автора отзыва" ng-model="renter_comment.userId">-->
<!--        <p></p>-->
<!--        <input class="form-control" type="number" hidden placeholder="ID арендатора" ng-model="renter_comment.aboutUserId">-->
<!--        <p></p>-->
        <textarea class="form-control" type="text" placeholder="Напишите свой отзыв" ng-model="renter_comment.description">
        </textarea>
        <p></p>
        <button type="submit" class="btn btn-primary">Отправить отзыв об арендаторе</button>
    </form>
</div>