<div>
    <p></p>
    <h2>Вы попали на страницу, где можете оставить свой отзыв</h2>
    <br/>
    <button class="btn btn-primary" ng-click="navToToolsList()">НАЗАД К ВЫБОРУ</button>
    <br/>
    <p></p>
    <h3>Сведения об инструменте, о котором вы пожелали оставить отзыв</h3>
    <p>{{'Категория: ' + tool.categoryName}}</p>
    <p>{{'Название инструмента: ' + tool.title}}</p>
    <p>{{'Марка : ' + tool.brandName}}</p>
    <p></p>
    <h3>Владелец инструмента:</h3>
    <p>{{'Имя пользователя на сайте: ' + tool.ownerUsername}}</p>
    <p>{{'ФИО: ' + tool.ownerFirstName + ' ' + tool.ownerSecondName + ' ' + tool.ownerLastName}}</p>
    <p></p>
    <p>{{'Цена аренды в сутки: ' + tool.fee}}</p>
    <p>{{'Сумма залога: ' + tool.price}}</p>
    <p></p>

    <h3>Форма для отправки отзыва об инструменте</h3>
    <br/>
    <form novalidate ng-submit="toolFeedback(tool.id)">
        <input class="form-control" type="text" placeholder="Поле для ввода отзыва об инструменте"
               ng-model="toolFeedback.value">
        <p></p>
        <button type="submit" class="btn btn-primary">Отправить отзыв</button>
    </form>
    <br/>
    <br/>
    <h3>Форма для отправки отзыва о владельце инструмента</h3>
    <br/>
    <form novalidate ng-submit="ownerFeedback(tool.ownerUsername)">
        <input class="form-control" type="text" placeholder="Поле для ввода отзыва о владельце инструмента"
               ng-model="toolFeedback.value">
        <p></p>
        <button type="submit" class="btn btn-primary">Отправить отзыв</button>
    </form>


</div>